<div class="main-content mt-3">
  <div class="container-fluid">
    <div class="card">
      <div class="card-content">       
        <div class="row">
          <div class="icon">
            <a class="cursor-pointer" routerLink="/">
              <img
                src="assets/images/logo.png"
                class="logo"
              />
            </a>
          </div>
          <div class="m-y-2">
            <button class="m-x-2 btn-trans cursor-pointer">
              EUR USD Details
            </button>
            <button class="btn-trans cursor-pointer">EUR GBP Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
